.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #14648d !important;
}

.Button:active {
  background-color: #14648d !important;
}

.Button:focus {
  background-color: #14648d;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #14648d;
  color: #ffffff;
}

.BlueOutline,
.Blue:hover {
  background-color: #ffffff;
  color: #74b2df;
}

.Black,
.BlackOutline:hover {
  background-color: #3f4a3c;
  color: #f6edd9;
}

.Black:hover,
.BlackOutline {
  background-color: #f6edd9;
  color: #3f4a3c;
}

.Bright {
  background-color: #00a000;
  color: #f6edd9;
  font-weight: bold;
}

.Bright:hover {
  background-color: #f6edd9;
  color: #3f4a3c;
}
