.Form {
  border: none;
  border-bottom: 2px #00a6f3 solid;
}

.Button {
  border: none;
  background-color: #3f4a3c;
  color: #f6edd9;
  border-radius: 100px;
  padding: 4px 10px;
  min-width: 75px;
  margin: 5px;
}

.Button:hover {
  cursor: pointer;
  background-color: #f6edd9;
  color: #3f4a3c;
}
